section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.user-card {
    border: 3px solid;
    padding: 15px;  
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .user-card > div {
    min-height: 50px;
    width: 95%;
    border: 1px solid #666;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
  }
  
  .user-card span {
    display: block;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 540px) {
    .col-3 {
      width: 26%;
    }
  }